  /*boton busqueda*/
.search-container{ 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 30px;
    left: 41%;
    display: flex;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 6px;
}

.search-input {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px;
}

.search-btn {
    background-color:  #711c82;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.search-btn:hover {
    background-color: #230038;
}
